#_navSidebar a{
    color: white;
}
#_navSidebar a:hover{
    color: #ffffffbc;
}
#_navToggleSidebar a{
    color: gray;
}

a, a:hover{
    text-decoration: none;
/*     color: white; */
}
button:hover a{
    color: white;
}

/* .sidebar{
    width: 18rem;
} */

/* .card{
    width: 18rem;
} */